{{#*inline "page"}}
    <div class="py-6 text-center">
        <h1 class="text-4xl font-bold mb-4">Your Profile</h1>
        <p class="text-lg">Welcome to your profile page. Here you can view and manage your account details.</p>
    </div>
{{/inline}}
{{~> layouts/base title="Your Profile"~}}
